input {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 12px;
    padding-right: 108px;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    border: 1px solid #333333;
}
.default_hover:hover {
    border: 1px solid #333333;
    outline: none;
}
.default_focus:focus {
    border: 10px solid #2962FF;
    outline: none;
}
.error {
    border: 1px solid #D32F2F;
    outline: none;
}
.error:hover {
    border: 1px solid #333333;
    outline: none;
}
.error:focus {
    border: 1px solid #D32F2F;
    outline: none;
}
.disabled {
    background: #F2F2F2;
    border: 1px solid #E0E0E0;
}
.helperText {
    border: 1px solid #828282;
}


.fillWidth {
    width: -webkit-fill-available;
}
p {
    margin-bottom: 5px;
}