body {
    margin: 0;
    padding: 1rem;
}
input {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 12px;
    padding-right: 108px;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    border: 1px solid #333333;
}
.default_hover:hover {
    border: 2px solid #333333;
    outline: none;
}
.default_hover:focus {
    border: 2px solid #2962FF;
    outline: none;
}
.error {
    border: 1px solid #D32F2F;
    outline: none;
}
.error + label {
    color: #D32F2F;
}
.error:hover {
    border: 2px solid #333333;
    outline: none;
}
.error:hover + label {
    color: #333333;
}
.error:focus {
    border: 2px solid #D32F2F;
    outline: none;
}
.error:focus + label {
    color: #D32F2F;
}
.error + label + span {
    color: #D32F2F;
}
.error:hover + label + span {
    color: #828282;
}
.error:focus + label + span {
    color: #D32F2F;
}
.disabled {
    background: #F2F2F2;
    border: 1px solid #E0E0E0;
    pointer-events: none;
}
.helperTexts {
    border: 1px solid #828282;
    outline: none;
}
.helperTexts + label {
    color: #828282;
}
.helperTexts + label + span {
    color: #828282;
}

.startIcon {
    padding-left: 40px;
    background-image: url(./img/call_icon.svg);
    background-size: 20px;
    background-position: 5% 50%;
    background-repeat: no-repeat;
}


.fillWidth {
    width: -webkit-fill-available;
}
